@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

@layer base {
  :root {
    /* Initial announcement height - will be updated by JavaScript */
    --announcement-height: 40px;
  }

  h1 {
    @apply text-3xl sm:text-4xl mb-5 font-light;
  }
  h2 {
    @apply text-2xl sm:text-3xl mb-5 text-gray-600;
  }
  h3 {
    @apply text-xl sm:text-2xl mb-5 text-gray-600;
  }
}
